/* Move down content because we have a fixed navbar that is 50px tall */
body {
font-family:'Arial';
}

/* Remove border to delete the 1px line */
.navbar-fixed-top {
    border: 0;
}
#content{width:1024px;margin:0 auto;}
.panel-bg{background:#E0E0E0;}
.btn-black{background:#000;color:#fff;}
.row{padding:20px 0;}
.btn{border-radius:0;}
.btn:hover, .btn:focus, .btn.focus {color: #fff;text-decoration: none;}